@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Vollkorn:ital@1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

h1 {
  font-size: 2.5rem;
  font-family: 'Vollkorn', serif;
}

h2 {
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
}

h3 {
  font-size: 1.8rem;
  font-family: 'Roboto', sans-serif;
}

p,
label,
input,
select,
textarea {
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
}